

        /* For Reset Css */
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        /* For Utility classes */

            .flex{
                display: flex;
            }
        

        /* For Main Css */

        .container{
            background-color: white;
            height: 1200px;
            
           

        }
        .topbar{
           
            margin: 10px;
            padding: 15px;
        }
        .allcards-container{
            flex-direction: column;
            justify-content: space-evenly;
            border-radius: 40px;
           
            cursor: pointer;
            
            
          
            
        }
         .allcards-container:hover{
            box-shadow: 5px 0 10px gray;
          
        } 

        

        .pic img{
            width: 320px;
            height: 180px;
            box-shadow:  0 0 5px gray;
           
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;

        }
        .cardtext{
            margin-top: 5px;
            padding: 15px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            box-shadow:  0 0 5px gray;
            text-decoration: none;
            
            
            color: black;
            

        }

        .cardtext h2{
            margin-top: 10px;
            text-decoration: none;
            
            
        }
        .cardtext p{
            margin-top: 25px;
            color: grey;
            text-decoration: none;
            
            
        }
        .card-section{
           
            justify-content: center;
            margin-top: 20px;
          
        }
        .cardarea{
            
            width: 1040px;
            margin: auto;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: space-evenly;
        }


        /* Media queries */

        /* Media queries for Tablet */

        @media screen and (max-width:1060px){
            .cardarea{
          
            width: 700px;
            margin: auto;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-evenly;
        }

        }

        @media screen and (max-width:770px){
            .cardarea{
          
            width: 400px;
            margin: auto;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-evenly;
        }

        }
        